<h1>New Book</h1>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<% @books.each do |book| %>
  <div>
    
    <%#= image_tag post_image.get_image %>
    <%= image_tag 'no_image.jpg' %>
    <p>Title：<%= book.title %> </p>
    <p>Caption：<%= book.body %></p>
  </div>
<% end %>

<h1>投稿一覧</h1>

